*.js
*.js.map
.eslintcache
.npmrc
!.eslintrc.js
!.prettierrc.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
build
cdk.out
template.yaml

# coverage
coverage

# IDE
.idea
